/* src/Modules/Admin/components/Crud/DataTable.module.css */

.tableContainer {
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.tableHeader {
  background-color: var(--bdo-red);
  color: white;
}

.tableHeaderCell {
  padding: 16px 20px;
  text-align: left;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.tableHeaderCell:last-child {
  border-right: none;
  text-align: center;
}

/* Filas de la tabla */
.tableRow {
  background-color: #ffffff; /* Las filas impares son blancas */
  transition: background-color 0.2s ease-in-out;
}

.tableRow:nth-child(even) {
  background-color: #f0f0f0; /* Color diferente para filas pares para evitar confusión con el fondo */
}

.tableRow:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.tableCell {
  padding: 12px 20px;
  border-right: 1px solid var(--bdo-pale-charcoal);
  border-bottom: 1px solid var(--bdo-pale-charcoal);
  color: var(--bdo-charcoal);
}

.tableCell:last-child {
  border-right: none;
}

/* Celda de Acciones y botones */
.actionsCell {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.editButton,
.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
  padding: 6px;
  border-radius: 50%;
}

.editButton {
  color: var(--bdo-ocean);
}

.editButton:hover {
  color: #0073b6;
  background-color: rgba(0, 143, 210, 0.1);
}

.deleteButton {
  color: var(--bdo-red);
}

.deleteButton:hover {
  color: var(--bdo-burgundy);
  background-color: rgba(232, 26, 59, 0.1);
}

.emptyTableMessage {
  text-align: center;
  padding: 20px;
  color: var(--bdo-slate);
}
