/* src/Modules/Admin/components/StaffTable.module.css */

/* ------------------------------------------- */
/*  Estilos de la tabla (Copia de CrudDataTable) */
/* ------------------------------------------- */

.staffTable_tableContainer {
  overflow-x: auto;
  margin-top: 20px;
}

.staffTable_table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.staffTable_tableHeader {
  background-color: var(--bdo-red);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden; /* Para redondear las esquinas de los th */
}

.staffTable_tableHeaderCell {
  padding: 16px 20px;
  text-align: left;
  font-weight: bold;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer; /* Cursor de puntero para indicar que es clickeable (ordenaci贸n) */
}

.staffTable_tableHeaderCell:first-child {
  border-top-left-radius: 8px;
}

.staffTable_tableHeaderCell:last-child {
  border-right: none;
  text-align: center; /* Centrar las columnas de acci贸n/estado/rol */
  cursor: default;
  border-top-right-radius: 8px;
}

/* Filas de la tabla */
.staffTable_tableRow {
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}

.staffTable_tableRow:nth-child(even) {
  background-color: #f0f0f0;
}

.staffTable_tableRow:hover {
  background-color: #e0e0e0;
}

.staffTable_tableCell {
  padding: 12px 20px;
  border-right: 1px solid var(--bdo-pale-charcoal);
  border-bottom: 1px solid var(--bdo-pale-charcoal);
  color: var(--bdo-charcoal);
}

.staffTable_tableCell:last-child {
  border-right: none;
}

/* ------------------------------------------- */
/* Estilos de Acciones (Toggle/RoleSelector) */
/* ------------------------------------------- */

.staffTable_actionCellWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Esto es espec铆fico para centrar Toggle y RoleSelector */
}

/* Mensaje de tabla vac铆a */
.staffTable_emptyTableMessage {
  text-align: center;
  padding: 20px;
  color: var(--bdo-slate);
}

/* Icono de ordenaci贸n */
.sortIcon {
  margin-left: 5px;
  vertical-align: middle;
}

/* ------------------------------------------- */
/* Footer y Paginaci贸n */
/* ------------------------------------------- */

.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #f7fafc;
  border-top: 1px solid #e2e8f0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.recordsInfo {
  font-size: 0.9rem;
  font-weight: 1000;
  color: var(--bdo-charcoal);
}

.paginationControls {
  display: flex;
  gap: 0.5rem;
}

.paginationButton {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--bdo-charcoal);
  background-color: transparent;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.paginationButton:hover:not(:disabled) {
  background-color: #e2e8f0;
}

.paginationButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
